snippet refunc
	import React from "react";

	const ${1:ComponentName} = () => (
		<div />	
	);

	export default $1;

snippet reclass
	import React from "react";

	class ${1:ComponentName} extends React.Component {
		render() {
			return (
				<div />
			);
		}
	}

	export default $1;


snippet imprt
	import ${1:VarName} from "$1";
